*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width:100%;
    height:60px;
    background-color: rgb(245, 245, 245);
}
header::after{
    content:"";
    display:block;
    clear:both;
}
.navbar{
    width:80%;
    margin:auto;

}
.navbar::after{
    content: "";
    display: block;
    clear:both;
}

.nav-logo{
    width:100px;
    padding:0px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin:10px 20px;
    height: 50px;
    float: left;
}
.nav-item{
    float: left;
    margin:10px;
}
.nav-item::after{
    content: "";
    display: block;
    clear: both;

}
.nav-item li{
    list-style: none;
    float: left;
    margin: 10px 15px;
    color: rgb(0, 0, 0,0.7);
}
.search{
    float:right;
    width:300px;
    margin: 10px;
}
.search input{
    padding: 10px;
    height: 30px;
    border: 1px solid  rgb(199, 202, 199,0.5);
}
.search button{
    background-color: white;
    padding: 5px;
    height: 30px;
    border: 1px solid rgb(52, 236, 52);
    color: rgb(52, 236, 52);

}



.container{
    width:80%;
    margin: auto;
}
h1{
    margin:20px 0px;
}
h2{
    margin: 20px 0px 10px;
}
li{
    border-radius: 4px;
    list-style:none;

}
.basic-list{
    width:300px;
    float: left;
}
.basic-list li{
    height:40px;
    width:100%;
    padding:8px;
    border:1px solid grey;
}
.basic-list li:nth-child(3){
    background-color: rgb(86, 86, 250);
    color:white
}

.custom-list{
    float:right;
    width:400px;
height: 50px;
}
.custom-list li{
    border: 1px solid grey;
}
.custom-list li:hover{
    background-color: blue;
    color:white
}
.custom-list span{
    float:right;
    margin-left: auto;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}